
<html>
    <head>
      {% if title %}
      <title>{{ title }} - States of India</title>
      {% else %}
      <title>Welcome to States of India</title>
      {% endif %}
    </head>
    <body>
     <div class="container">
         <div class="row">
             <div class="col-*-*">   "This is test1" </div>
             <div class="col-*-*"></div>
         </div>
         <div class="row">
            <div class="col-*-*"></div>
            <div class="col-*-*"></div>
            <div class="col-*-*"></div>
         </div>
     </div>
    </body>
</html>

