


<html>
    <head>
        {% if title %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">  
        <title>{{ title }} - State of India</title>
        {% else %}
        <title>Welcome to State of India/title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search') }}">Search</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
