
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">  
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">States of India app</h1>
                <strong><nav>
                    <ul class="menu">
                    This is menu
                    </ul>
                    {% if g.search_form %}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('search') }}">
                        <div class="form-group">
                             {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                    {% endif %}
                </nav></strong>
            </div>
         </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

