
{% extends "base.html" %}

{% block content %}
    <h1>Explore State of India</h1>
    <form action="search" method=("get","post") novalidate>
        {{ form.hidden_tag() }}
       {% if g.search_form %}
        <p>
            {{ g.search_form.q.label.text }}<br>
            {{ g.search_form.q(size=32) }}<br>
            {% for error in g.search_form.q.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
       {% endif %}      
        </p>   
    <!--    {% if g.search_form %}
                <form action="" method=("get","post") novalidate>
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
         {% endif %}  -->
        <p>
            {{ g.search_form.submit.label }}<br>
            {{ g.search_form.submit(size=32) }}<br>
            {% for error in g.search_form.submit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
