
{% extends "base.html" %}

{% block content %}
    <h1>Explore State of India</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.seachString.label }}<br>
            {{ form.seachString(size=32) }}<br>
            {% for error in form.seachString.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit.label }}<br>
            {{ form.submit(size=32) }}<br>
            {% for error in form.submit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
